/*beginning with a generic obsidian scheme to be updated later*/

body
{
    background: #293134;
    color: #7D8C93;
}

.scaleTab
{
    color: #678CB1;
}

.fretNumber
{
    color: #93C763;
}

#youtube
{
    color: #678CB1;
}